@import "tailwindcss";
html {
  scroll-behavior: smooth;
}

.nosifer-regular {
  font-family: "Nosifer", cursive;
}

.anton-regular {
  font-family: "Anton", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.bangers-regular {
  font-family: "Bangers", system-ui;
  font-weight: 400;
  font-style: normal;
}

.shojumaru-regular {
  font-family: "Shojumaru", system-ui;
  font-weight: 400;
  font-style: normal;
}

.barrio-regular {
  font-family: "Barrio", system-ui;
  font-weight: 400;
  font-style: normal;
}
